@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 38% 92%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 153 74% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 33% 92%;
    --secondary-foreground: 20 14% 4%;
    --muted: 220 8% 90%;
    --muted-foreground: 240 3% 35%;
    --accent: 142 67% 91%;
    --accent-foreground: 153 74% 25%;
    --destructive: 0 96% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 153 74% 25%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-secondary text-foreground;
  }
}
